extends template.pug

block head
    meta(property="og:title" content="the genprog blog")
    meta(property="og:type" content="website")
    meta(property="og:url" content=baseUrl)
    meta(property="og:description" content="ramblings from bored programmers")

block content
    each post in posts
        div.post
            h2: a(href="/p/" + post.slug) #{post.title}
            div.meta by #{post.author.name} | #{post.published}
            p #{post.summary}
    if page > 0
        a(href="/" + (page - 1)) &lt; Newer
        span &nbsp;&nbsp;
    if page < pageCount - 1
        a(href="/" + (page + 1)) Older &gt;
