extends template.pug

block head
    meta(property="og:title" content=post.title)
    meta(property="og:type" content="article")
    meta(property="og:url" content=url_for(post))
    meta(property="og:description" content=post.summary)
    meta(property="og:article:published_time" content=(new Date(post.published)).toISOString())
    meta(property="og:article:author:username" content=post.author.name)

block content
    h1 #{post.title}
    div.meta by #{post.author.name} | published #{post.published}
    div !{post.html_content}
